
html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.4em;
}

h1 {
    line-height: 1em;
}

.container {
    max-width: 1230px;
}

.noPadding {
    padding: 0;
}

/********************SECTION HEAD*********************/
.section-head {
    width: 100%;
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    
    position: relative;
}

.section-head-container {
    position: relative;
}

.iPhone-wrap {
    
    min-height: 200px;
}

    header {
        margin-top: 55px;
    }
        .b-circle {
            width: 41px;
            height: 41px;
            border: 3px solid #fff;
            border-radius: 50%;
            float: left;
        }

            .s-circle {
                width: 15px;
                height: 15px;
                border: 3px solid #fff;
                border-radius: 50%;
                margin: 10px auto;
            }

        header span {
            margin-left: 10px;
            font-family: 'Merriweather', serif;
            font-style: italic;
            font-weight: 700;
            font-size: 2em;
            line-height: 2em; 
        }


.section-head h1 {
    font-size: 6em;
    font-weight: 300;
    white-space: nowrap;
    line-height: 1em;
}

.section-head p {
    font-size: 1.3em;
}

.section-head .container > div:last-child {
    margin-top: 11%;
    margin-bottom: 20%;
}

.iPhone {
    position: absolute;
    bottom: -180%;
    right: 0;
    width: 75%;
}

/********************SECTION MAIN*********************/

.section-main > .row:first-child {
    margin-top: 110px;
    margin-bottom: 80px;
}

.section-main h1 {
    color:  #222626;
    font-size: 3.5em;
    font-weight: 300;
}

.section-main p {
    color:  #959595;
    font-size: 1.4em;
}

/*Grid-box*/

.grid-box-row {
    margin-bottom: 100px;
}

.masonry-container {
    margin: 0;
    padding: 0;
}

.row.masonry-row {
    margin: 0;
}

.grid-item {
    padding: 0;
    position: relative;
}

.grid-item img {
    width: 100%;
}

.grid-item--width2 {
    width: 25%;
}

.grid-item h2,
.grid-item p,
.grid-item a {
    color: #fff;
    position: absolute;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.grid-item h2 {
    font-weight: 300;
    font-size: 3em;
    top: 9%;
    left: 12%;
}

.grid-item p {
    top: 30%;
    font-size: 1.3em;
    padding-right: 45px;
    padding-left: 12%;
}

.grid-item a {
    font-weight: 700;
    font-size: 1.3em;
    bottom: 20%;
    padding-left: 12%;
}

.grid-item a span {
    margin-left: 10px;
}

/*Bottom columns*/

.bottom-columns {
    margin-bottom: 150px;
}

.bottom-columns h2 {
    color: #66676d;
    font-weight: 600;
}

.bottom-columns p {
    text-align: justify;
}

